<!-- /snippets/404_snippet.liquid -->
<section class="content-section-inner center-align valign-wrapper fullscreenHeight">
  <div class="container">
    <div class="row">
      <h1>{{ 'general.404.title' | t }}</h1>
      <p>{{ 'general.404.subtext_html' | t }}</p>
    </div>
  </div>
</section
