<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% case product.id %}
  {% when 12527085515 %}
    {%- comment %}
    	Green Label - Zitrone & Ingwer
    {% endcomment -%}
    {%- include 'green-label_zi' -%}

  {% when 12527081291 %}
    {%- comment %}
      Accessoires - Teeflasche
    {% endcomment -%}
    {%- include 'accessoires-bottle' -%}

    {%- comment %}
    	Black Label - Irish Bergamotte
    {% endcomment -%}
    {%- comment %}
      {%- include 'black-label-ib' -%}
    {% endcomment -%}

  {% else %}

{% endcase %}

{%- comment %}
	everything bellow can be added in a snippet
{% endcomment -%}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
